/build
/.depend
/Makefile
/mlnet
/ocamlpp.byte

/config/Makefile.config
/config/confdefs.h
/config/config.h
/config/config.log
/config/config.status
/config/mldonkey.rc
/config/autom4te.cache
/config/*~

/icons/rsvg/*.ml
/icons/rsvg/*.ml_icons

/packages/rpm/Makefile
/packages/rpm/mldonkey.spec
/packages/slackware/mldonkey.options

/patches/*
!/patches/*.patch

*.annot
*.cm*
*.o
*.a
