name: Build

on:
  - push
  - pull_request

jobs:
  build:
    continue-on-error: ${{ ! matrix.required }}
    strategy:
      fail-fast: false
      matrix:
        ocaml-version:
          - 4.03.0
          - 4.04.2
          - 4.05.0
          - 4.06.1
          - 4.07.1
          - 4.08.1
          - 4.09.1
          - 4.10.0
          - 4.11.1
          - 4.12.1
          - 4.13.1
          - 4.14.1
        required:
          - true
        os:
          - ubuntu-latest
        include:
          - ocaml-version: 4.14.1
            required: true
            os: macos-latest
          - ocaml-version: 4.14.1
            required: false
            os: windows-latest
          - ocaml-version: 5.2.0
            required: false
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}

      - run: opam pin add mldonkey.dev . --no-action

      # not needed, opam install will do it automatically
      # - run: opam depext mldonkey --yes --with-doc --with-test

      - run: opam install . --deps-only --with-doc --with-test

      # https://github.com/ocaml/setup-ocaml/issues/815#issuecomment-2204838759
      # SHELLOPTS workaround for windows
      # setting SHELLOPTS via GITHUB_ENV didn't work for some reason
      - run: opam exec -- env SHELLOPTS=igncr sh ./configure --enable-debug

      - run: opam exec -- make

      - run: opam exec -- make utils

      - name: Upload the build artifact
        if: ${{ matrix.ocaml-version == '4.14.1' }}
        uses: actions/upload-artifact@v4
        with:
          name: mlnet-${{ matrix.os }}.exe
          path: mlnet
